<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <app-navbar></app-navbar>
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    
    <!-- <a href="/home" class="w3-bar-item w3-button"><b>Proyecto</b>Shuar</a> -->
    <!-- Float links to the right. Hide them on small screens -->
    <!-- <div class="w3-right w3-hide-small">
      <a routerLink='/login' class="w3-bar-item w3-button">Login</a>
    <a routerLink='/registrarse' class="w3-bar-item w3-button">Registro</a>
    </div> -->
  </div>
</div>
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="../../../assets/encabezado.jpg" alt="Proyecto-Shuar" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-deep-purple w3-opacity-min"><b>Proyecto</b></span> <span class="w3-hide-small w3-text-black">SHUAR</span></h1>
  </div>
</header>

<!-- Misión Section -->
 <div class="w3-row w3-padding-64" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
   <img src="../../../assets/mision.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
  </div>

  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center">Misión</h1><br>
    <p class="w3-large">Nuestra misión es satisfacer las necesidades de nuestros clientes, mediante un sevicio de calidad y comodidad, que se ajusten a las necesidades de nuestros clientes, generando asi economía,desarrollo y crecimiento para el sector productivo, para empleados y accionistas.
      Respondemos a la confianza depositada en nosotros.</p>
    <p class="w3-large w3-text-grey w3-hide-medium">Cooperamos en el bien común de los miembros de nuestra organización.</p>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
  <!-- Visión Section -->
    <div class="w3-row w3-padding-64" id="menu">
      <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">Visión</h1><br>
        <p class="w3-large">Ser la empresa líder en servicios con calidad de punta tanto en servicios de transporte 
          y distribución de productos, la conservación y procesamiento de estos, que generen valor agregado al cliente y se conviertan en alternativas para el desarrollo económico, 
          social y cultural de clientes, empleados y accionistas.</p>
      </div>
      
      <div class="w3-col l6 w3-padding-large">
        <img src="../../../assets/vision.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
      </div>
    </div>
  

  <!-- Photos Grid-->
  
  <!-- Team Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Equipo técnico</h3>
  </div>

  <div class="w3-row-padding">
    <!-- <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div> -->
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../../assets/steven.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Steven Rocha</b></p>
        <p>Desarrollador del API en laravel, frontend en Angular y creación de componentes.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="../../../assets/caro.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Carolina Chamorro</b></p>
        <p>Desarrolladora del API en laravel y frontend en Angular y creación de módulos.</p>
      </div>
    </div>
  </div>
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../../assets/jennifer.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Jennifer Herrera</b></p>
        <p>Desarrolladora de frontend en Angular y gestión de documentación.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../../assets/kevin.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Kevin Pillajo</b></p>
        <p>Desarrollador de Laravel en el backend y gestión de documentación.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="../../../assets/anthony.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Anthony Guamán</b></p>
        <p>Desarrollador de frontEnd en Angular y gestión de diagramación en la documentación.</p>
      </div>
    </div>
  </div>

<!-- End page content -->
</div>
<!-- Footer -->
<footer class="w3-center w3-deep-purple w3-padding-16">
    <div class="content-foo">
        <h4>Ubicación</h4>
        <p>Sector el Inca calle Pio Valdiviezo E4-115 y Pedro Veloz(frente al parque Pio Valdiviezo)
          <br>
          Celular: 0983509621
          <br>
          Email: klever.guerrero@point-technical.com</p>
    </div>
    <div class="content-foo">
      <h4>Horarios</h4>
      <p>Lunes - Viernes: 8am - 7pm
        <br>
        Sabado: 8am - 5pm
        <br>
        Domingo: 8am - 5pm
      </p>
  </div>
<h2 class="titulo-final">&copy; 2021 Point Technical</h2>
</footer>
</body>
</html>
