<app-navbar></app-navbar>
<br>
<h1 class="text-center"
  style="margin-top: 50px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:xx-large;">
  Catálogo de productos</h1>
  <br>
  <div class="container">
    <div class="row align-items-center justify-content-center" style="margin-left: 25%;margin-right: 25%;">
      <div *ngFor="let user of users">
        <div *ngFor="let asociado of  asociados">
          <div *ngFor="let key of productos">
            <div *ngIf="asociado.id==asociadoData && user.id==usuarioData && key.asociado_id===asociado.id && key.asociado_id==asociadoData">
              <div class="card mb-3" style="max-width: 700px; padding: 2rem;">
                <div class="row g-0">
                  <div class="col-4">
                    <img src='http://127.0.0.1:8000/storage/{{key.foto}}' alt="">
                </div>  
                  <div class="col-8">
                      <div class="card-body" style="padding: 4rem;">
                        <h5 class="card-title" style="font-weight: bold;font-size:large">{{key.nombre}}</h5>
                        <p class="card-text">Detalle: {{key.detalle}}</p>
                        <p class="card-text">Precio:$ {{key.precio}}</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="productoData == undefined">
      <h3 class="text-center"
        style="margin-top: 50px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">No
        hay productos agregados</h3>
    </div>
  </div>




  <!-- routerLink='/pedidos'    [ngClass]="{'color': flag, 'sinColor': !flag}" -->