<app-navbar></app-navbar>
<br>
<h1 class="text-center" style="margin-top: 50px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:xx-large;">Productos</h1>
<form (ngSubmit)="addData()" class="container">
  <div class="form-group" style="margin-right: 50%;">
      <label for="name">Nombre</label>
      <input type="text" name="name" class="form-control" [(ngModel)]="producto.nombre">
    </div>
  <div class="form-group" style="margin-right: 50%;">
    <label for="name">Detalle</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="producto.detalle">
  </div>
  <div class="form-group" style="margin-right: 50%;">
      <label for="name">Precio</label>
      <input type="text" name="name" class="form-control" [(ngModel)]="producto.precio">
    </div>
  <div class="form-group" style="margin-right: 50%;">
      <label for="name">Foto</label>
      <input type="file" (change)="capturarFile($event)" name="file" class="form-control" [(ngModel)]="producto.foto">
    </div>
    <div *ngIf = "previsualizacion">
      <img [src] = "previsualizacion" alt = "">
    </div>
    
  <button class="btn btn-dark mt-4 mb-4">Registrar</button>
</form>
<div class="container">
  <div *ngFor="let producto of productos;let i=index">
    <div *ngIf="producto.asociado_id==asociadoData">
      <table class="table">
        <thead>
          <tr>
           <th scope="col">N°</th>
            <th scope="col">Nombre</th>
            <th scope="col">Detalle</th>
            <th scope="col">Precio</th>
            <th scope="col">Foto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
           <td scope="row">{{i+1}}</td>
            <td scope="row">{{producto.nombre}}</td>
            <td scope="row">{{producto.detalle}}</td>
            <td scope="row">{{producto.precio}}</td>
            <td><img src='http://127.0.0.1:8000/storage/{{producto.foto}}' alt=""></td>
            <td><button class="btn btn-danger mr-2" (click)="deleteData(producto.id)">Eliminar</button>
              <button class="btn btn-primary ml-2" routerLink="edit/{{producto.id}}">Editar</button></td> 
          </tbody>
        </table>
        </div>
      </div>
 </div>